/* Stylesheet */

* {
	font-family: sans-serif;
}

:root {
	--violet: #340D9E;
	--violet-light: #561EEB;
	--teal: #2C869E;
	--yellow: #EBB42A;
	--teal-light: #36C5EB;
}

#vis1, #vis2, #vis3 {
	text-align: center;
}

body {
	margin: 36px;
	box-sizing: border-box;
}

h3 {
	font-size: 2.5em;
	font-weight: normal;
	margin-bottom: 30px;
	text-align: center;
	color: var(--teal);
}

h4 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
	color: #000000;
}

#usage_digital {
	background: var(--teal);
	border-color: transparent;
	font-weight: bold;
}

#usage_physical {
	background: var(--yellow);
	border-color: transparent;
	font-weight: bold;
}

.reveal-vis{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 2s all ease;
}

.reveal-vis, .active-vis{
	transform: translateY(0);
	opacity: 1;
}

img.cover {
	width: 150px;
	height: 225px;
	margin-bottom: 20px;
}

p.caption {
	font-weight: normal;
	font-size: 0.75em;
	color: #1d1d1d;
	text-align: center;
}

.carousel-control-prev{
	margin-top: -14%;
	margin-left: 35.5%;
}

.carousel-control-next{
	margin-top: -14%;
	margin-right: 36%;
}

.carousel-control-prev,
.carousel-control-next{
	bottom: 50%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%340D9E' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%340D9E' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}